{% extends 'base.html.twig' %}

{% block body %}

Bonjour tout va bien finalement

{% for i in 1..10 %}
   
{% endfor %}
<h4>Hola</h4>
{% endblock %}

{% block javascripts %}
<script>
    alert('coucou');
</script>
{% endblock %}